:root .Root__main-view #mainImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  will-change: transform;
  z-index: -1;
  transition: 300ms background-image ease-in-out;
  filter: blur(4px);
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
@media (max-width: 1500px) {
  :root .Root__main-view #mainImage {
    background-position: top;
  }
}
:root .Root__main-view .main-view-container__scroll-node-child {
  padding-bottom: 0;
}
:root .Root__main-view .main-card-card {
  border-radius: var(--border-radius);
  padding: 0;
  overflow: hidden;
}
:root .Root__main-view .main-card-card .main-card-imageContainer {
  margin-bottom: -4px;
}
:root .Root__main-view .main-card-card .main-card-imageContainer .main-cardImage-circular, :root .Root__main-view .main-card-card .main-card-imageContainer img {
  border-radius: 0;
}
:root .Root__main-view .main-card-card .main-card-cardMetadata {
  padding: 16px;
}
:root .Root__main-view .main-entityHeader-container .main-entityHeader-backgroundColor {
  background: none !important;
}
:root .Root__main-view .main-entityHeader-container {
  padding: 32px;
  justify-content: center;
}
:root .Root__main-view .main-entityHeader-container > div:nth-last-of-type(2) {
  align-self: center;
}
:root .Root__main-view .main-entityHeader-container > div:nth-last-of-type(2) + .main-entityHeader-headerText {
  flex: unset;
  justify-content: center;
}
:root .Root__main-view .main-entityHeader-container > div:nth-last-of-type(2) + .main-entityHeader-headerText .main-entityHeader-title h1 {
  font-size: 50px !important;
}
:root .Root__main-view .main-yourEpisodes-yourEpisodesContentWrapper {
  max-width: unset;
}
:root .Root__main-view .main-actionBarBackground-background {
  background: linear-gradient(rgba(var(--spice-rgb-shadow), 0.6) 0, var(--spice-main) 232px), var(--background-noise) !important;
  height: calc(100% - 243px);
}
:root .Root__main-view section[data-testid=playlist-page] .main-actionBar-ActionBar, :root .Root__main-view section[data-testid=album-page] .main-actionBar-ActionBar, :root .Root__main-view section[data-testid=your-episodes-page] .main-actionBar-ActionBar, :root .Root__main-view section[data-testid=artist-page] .main-actionBar-ActionBar {
  padding: 8px 16px 16px 16px;
}
:root .Root__main-view section[data-testid=playlist-page] .main-actionBar-ActionBar .main-playButton-PlayButton, :root .Root__main-view section[data-testid=album-page] .main-actionBar-ActionBar .main-playButton-PlayButton, :root .Root__main-view section[data-testid=your-episodes-page] .main-actionBar-ActionBar .main-playButton-PlayButton, :root .Root__main-view section[data-testid=artist-page] .main-actionBar-ActionBar .main-playButton-PlayButton {
  margin-top: -24px;
  margin-left: 8px;
  margin-right: 22px;
}
@media (min-width: 1024px) {
  :root .Root__main-view section[data-testid=playlist-page] .main-actionBar-ActionBar .main-playButton-PlayButton, :root .Root__main-view section[data-testid=album-page] .main-actionBar-ActionBar .main-playButton-PlayButton, :root .Root__main-view section[data-testid=your-episodes-page] .main-actionBar-ActionBar .main-playButton-PlayButton, :root .Root__main-view section[data-testid=artist-page] .main-actionBar-ActionBar .main-playButton-PlayButton {
    margin-left: 24px;
  }
}
:root .Root__main-view section[data-testid=your-episodes-page] > .contentSpacing > section {
  height: calc(100vh - 494px);
}
:root .Root__main-view section[data-testid=your-episodes-page] > .main-yourEpisodes-yourEpisodesContentWrapper {
  height: calc(100vh - 438px);
}
:root .Root__main-view section[data-testid=your-episodes-page] > .main-yourEpisodes-yourEpisodesContentWrapper [data-testid^=episode-] {
  margin: 0;
}
:root .Root__main-view section[data-testid=playlist-page] > div:last-child, :root .Root__main-view section[data-testid=album-page] > div:nth-last-child(2), :root .Root__main-view section[data-testid=episode] > div:last-child, :root .Root__main-view section[data-testid=your-episodes-page] > div:last-child, :root .Root__main-view section[data-testid=artist-page] > div > div:last-child {
  background: none;
}
:root .Root__main-view section[data-testid=playlist-page] > div:last-child .main-trackList-trackListRowGrid, :root .Root__main-view section[data-testid=album-page] > div:nth-last-child(2) .main-trackList-trackListRowGrid, :root .Root__main-view section[data-testid=episode] > div:last-child .main-trackList-trackListRowGrid, :root .Root__main-view section[data-testid=your-episodes-page] > div:last-child .main-trackList-trackListRowGrid, :root .Root__main-view section[data-testid=artist-page] > div > div:last-child .main-trackList-trackListRowGrid {
  border-radius: var(--border-radius);
  border: none;
  padding-left: 10px;
  transition: 200ms background-color;
}
:root .Root__main-view section[data-testid=playlist-page] > div:last-child .main-trackList-trackListRowGrid .main-type-mesto, :root .Root__main-view section[data-testid=playlist-page] > div:last-child .main-trackList-trackListRowGrid .main-type-ballad, :root .Root__main-view section[data-testid=album-page] > div:nth-last-child(2) .main-trackList-trackListRowGrid .main-type-mesto, :root .Root__main-view section[data-testid=album-page] > div:nth-last-child(2) .main-trackList-trackListRowGrid .main-type-ballad, :root .Root__main-view section[data-testid=episode] > div:last-child .main-trackList-trackListRowGrid .main-type-mesto, :root .Root__main-view section[data-testid=episode] > div:last-child .main-trackList-trackListRowGrid .main-type-ballad, :root .Root__main-view section[data-testid=your-episodes-page] > div:last-child .main-trackList-trackListRowGrid .main-type-mesto, :root .Root__main-view section[data-testid=your-episodes-page] > div:last-child .main-trackList-trackListRowGrid .main-type-ballad, :root .Root__main-view section[data-testid=artist-page] > div > div:last-child .main-trackList-trackListRowGrid .main-type-mesto, :root .Root__main-view section[data-testid=artist-page] > div > div:last-child .main-trackList-trackListRowGrid .main-type-ballad {
  transition: 300ms color;
}
:root .Root__main-view section[data-testid=playlist-page] > div:last-child .main-trackList-trackListRowGrid:hover, :root .Root__main-view section[data-testid=album-page] > div:nth-last-child(2) .main-trackList-trackListRowGrid:hover, :root .Root__main-view section[data-testid=episode] > div:last-child .main-trackList-trackListRowGrid:hover, :root .Root__main-view section[data-testid=your-episodes-page] > div:last-child .main-trackList-trackListRowGrid:hover, :root .Root__main-view section[data-testid=artist-page] > div > div:last-child .main-trackList-trackListRowGrid:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
:root .Root__main-view section[data-testid=playlist-page] > div:last-child .main-trackList-trackListRowGrid.vMOFJ7EasQXUloRrStEe, :root .Root__main-view section[data-testid=album-page] > div:nth-last-child(2) .main-trackList-trackListRowGrid.vMOFJ7EasQXUloRrStEe, :root .Root__main-view section[data-testid=episode] > div:last-child .main-trackList-trackListRowGrid.vMOFJ7EasQXUloRrStEe, :root .Root__main-view section[data-testid=your-episodes-page] > div:last-child .main-trackList-trackListRowGrid.vMOFJ7EasQXUloRrStEe, :root .Root__main-view section[data-testid=artist-page] > div > div:last-child .main-trackList-trackListRowGrid.vMOFJ7EasQXUloRrStEe {
  background-color: rgba(255, 255, 255, 0.1);
}
:root .Root__main-view section[data-testid=playlist-page] > div:last-child .main-trackList-trackListHeader, :root .Root__main-view section[data-testid=album-page] > div:nth-last-child(2) .main-trackList-trackListHeader, :root .Root__main-view section[data-testid=episode] > div:last-child .main-trackList-trackListHeader, :root .Root__main-view section[data-testid=your-episodes-page] > div:last-child .main-trackList-trackListHeader, :root .Root__main-view section[data-testid=artist-page] > div > div:last-child .main-trackList-trackListHeader {
  display: none;
}
:root .Root__main-view section[data-testid] {
  position: relative;
}
:root .Root__main-view section[data-testid=playlist-page] .main-trackList-trackListRow, :root .Root__main-view section[data-testid=artist-page] .main-trackList-trackListRow {
  grid-template-columns: [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px, 1fr) !important;
}
:root .Root__main-view section[data-testid=playlist-page] .main-trackList-trackListRow > .main-trackList-rowSectionIndex, :root .Root__main-view section[data-testid=artist-page] .main-trackList-trackListRow > .main-trackList-rowSectionIndex {
  position: absolute;
  z-index: 1000;
  top: 8px;
  left: 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
  text-indent: -1000px;
}
:root .Root__main-view section[data-testid=playlist-page] .main-trackList-trackList[aria-colcount="6"] .main-trackList-trackListRow, :root .Root__main-view section[data-testid=artist-page] .main-trackList-trackList[aria-colcount="6"] .main-trackList-trackListRow {
  grid-template-columns: [first] 6fr [var1] 4fr [var2] 3fr [var3] minmax(120px, 2fr) [last] minmax(120px, 1fr) !important;
}

:root .Root__nav-bar {
  overflow: hidden;
}
:root .Root__nav-bar ul.main-navBar-entryPoints {
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 0 12px;
  box-sizing: content-box;
  transition: 350ms background-color;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin: 24px 12px 0 12px;
  background-color: rgba(0, 0, 0, 0.1);
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list {
  display: grid;
  grid-template-areas: "home home home home" "search search search search" "collection collection collection collection" "lyrics-plus lyrics-plus lyrics-plus lyrics-plus" "reddit reddit reddit reddit" "new-releases new-releases new-releases new-releases" "marketplace marketplace marketplace marketplace" "add tracks episodes .";
  grid-template-columns: 25px 25px 25px 1fr;
  border-radius: var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/"] {
  grid-area: home;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/search"] {
  grid-area: search;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/collection"] {
  grid-area: collection;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/lyrics-plus"] {
  grid-area: lyrics-plus;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/reddit"] {
  grid-area: reddit;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/new-releases"] {
  grid-area: new-releases;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list li[data-id="/spicetify-marketplace"] {
  grid-area: marketplace;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list div[data-id="/add"] {
  grid-area: add;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list div[data-id="/collection/episodes"] {
  grid-area: episodes;
}
:root .Root__nav-bar ul.main-navBar-entryPoints#spicetify-sticky-list div[data-id="/collection/tracks"] {
  grid-area: tracks;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li {
  padding: 0;
  margin: 0 -12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li a {
  padding: 0 12px;
  border-radius: 0;
  background-color: transparent;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li a.main-navBar-navBarLinkActive {
  background-color: #5c6eb12a;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li a svg > * {
  display: none;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > li:first-child a {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div {
  padding: 0;
  margin: 2px 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div > *.active {
  background: none;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div button, :root .Root__nav-bar ul.main-navBar-entryPoints > div a {
  padding: 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div button div, :root .Root__nav-bar ul.main-navBar-entryPoints > div a div {
  margin-right: 0;
  border-radius: var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div button div.main-rootlist-statusIcons, :root .Root__nav-bar ul.main-navBar-entryPoints > div a div.main-rootlist-statusIcons {
  display: none;
}
:root .Root__nav-bar ul.main-navBar-entryPoints > div button span, :root .Root__nav-bar ul.main-navBar-entryPoints > div a span {
  display: none;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/"] .home-icon {
  background: url("https://i.imgur.com/jqDH9TQ.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/"] .home-active-icon {
  background: url("https://i.imgur.com/60h58oZ.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/search"] .search-icon {
  background: url("https://i.imgur.com/UV5JQpE.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/search"] .search-active-icon {
  background: url("https://i.imgur.com/CTVdQ3d.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/collection"] .collection-icon {
  background: url("https://i.imgur.com/alXGfxW.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/collection"] .collection-active-icon {
  background: url("https://i.imgur.com/SzvrAfr.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/lyrics-plus"] .collection-icon {
  background: url("https://i.imgur.com/91fuU3P.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/lyrics-plus"] .collection-active-icon {
  background: url("https://i.imgur.com/EgRCYe8.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/reddit"] .collection-icon {
  background: url("https://i.imgur.com/6N6ev2V.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/reddit"] .collection-active-icon {
  background: url("https://i.imgur.com/UENFDdo.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/new-releases"] .collection-icon {
  background: url("https://i.imgur.com/BgkCeDG.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/new-releases"] .collection-active-icon {
  background: url("https://i.imgur.com/CTRVDwF.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/spicetify-marketplace"] .collection-icon {
  background: url("https://i.imgur.com/2pWNa48.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints a[href="/spicetify-marketplace"] .collection-active-icon {
  background: url("https://i.imgur.com/rKmXQ6V.png") center/cover no-repeat;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div {
  display: grid;
  grid-template-areas: "add tracks episodes" "playlists playlists playlists";
  grid-template-columns: 25px 25px 1fr;
  grid-template-rows: 25px 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin: 12px 12px 0 12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:first-child {
  grid-area: add;
  margin: -6px 0 0 12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:first-child::before {
  content: "";
  position: absolute;
  width: calc(100% - 24px);
  height: 40px;
  margin: -6px 0 0 -12px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:first-child button {
  padding: 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:first-child button .main-createPlaylistButton-createPlaylistIcon {
  border-radius: var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(2) {
  grid-area: tracks;
  margin: -6px 0 0 12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(2) a {
  padding: 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(2) a .main-likedSongsButton-likedSongsIcon {
  border-radius: var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(3) {
  grid-area: episodes;
  margin: -6px 0 0 12px;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(3) a {
  padding: 0;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(3) a .main-yourEpisodesButton-yourEpisodesIcon {
  border-radius: var(--border-radius);
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:nth-child(3) a .main-collectionLinkButton-collectionLinkText {
  display: none;
}
:root .Root__nav-bar ul.main-navBar-entryPoints:not(#spicetify-sticky-list) + .main-rootlist-rootlist > div > div:last-child {
  grid-area: playlists;
}
:root .Root__nav-bar .main-rootlist-rootlistDividerContainer {
  display: none;
}
:root .Root__nav-bar .main-rootlist-rootlist {
  margin-top: 0;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content {
  padding-top: 16px !important;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content::before {
  content: "Playlists";
  visibility: visible;
  width: unset;
  height: unset;
  line-height: unset;
  display: block;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] {
  margin: 12px;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"]:not(#spicetify-playlist-list) {
  margin: 12px 0 0 0;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div {
  contain: unset;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem {
  padding: 0;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: calc(12px + var(--indentation)*var(--left-sidebar-item-indentation-width));
  padding-right: var(--left-sidebar-padding-right);
  box-sizing: content-box;
  transition: 150ms background-color;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink + button {
  border-radius: 0 !important;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink + div > button {
  margin-left: 0;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLinkActive, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink:focus, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink:hover, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLinkActive + *, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink:focus + *, :root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-rootlistItemLink:hover + * {
  background-color: #5c6eb12a;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-statusIcons:not(:empty) {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  padding: 4px 12px;
  transition: 150ms background-color;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) .main-rootlist-rootlistItem .main-rootlist-expandArrow {
  height: unset;
  margin-left: 0;
  padding: 4px 12px;
  transition: 150ms background-color;
}
:root .Root__nav-bar .main-rootlist-rootlist .os-content > ul[tabindex="0"] > div > div:nth-child(2) li:last-child::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 40px;
}
:root .Root__nav-bar .main-coverSlotExpanded-container .cover-art .cover-art-image {
  border-radius: 0;
}
:root .Root__nav-bar .os-scrollbar {
  top: 52px;
  bottom: 38px;
  border-top-right-radius: calc(var(--border-radius) + 5px);
  border-bottom-right-radius: calc(var(--border-radius) + 5px);
  overflow: hidden;
}

:root .Root__now-playing-bar .main-nowPlayingBar-container {
  position: relative;
  border-top: none;
  background-color: transparent;
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar {
  box-sizing: content-box;
  padding-bottom: 16px;
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar .main-nowPlayingWidget-nowPlaying.main-nowPlayingWidget-coverExpanded {
  transform: translateX(-100px);
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar .main-nowPlayingWidget-nowPlaying .main-coverSlotCollapsed-container {
  top: -20px;
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-nowPlayingBar-nowPlayingBar .main-nowPlayingWidget-nowPlaying .main-coverSlotCollapsed-container .cover-art {
  width: 84px !important;
  height: 84px !important;
  border-radius: var(--border-radius);
  overflow: hidden;
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-connectBar-connectBar {
  position: absolute;
  top: -15px;
  right: 15px;
  padding: 4px 8px;
  box-sizing: content-box;
  border-radius: var(--border-radius);
  color: #fff;
  background-color: var(--spice-sidebar);
}
:root .Root__now-playing-bar .main-nowPlayingBar-container .main-connectBar-connectBar::after {
  content: none;
}
:root .Root__now-playing-bar .playback-bar {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "time-left time-right" "bar bar";
  bottom: 0;
}
:root .Root__now-playing-bar .playback-bar .saber-hilt {
  height: 0;
}
:root .Root__now-playing-bar .playback-bar .playback-progressbar {
  grid-column: 1/3;
  grid-area: bar;
}
:root .Root__now-playing-bar .playback-bar .playback-progressbar > div > div {
  --progress-bar-height: 12px;
  --progress-bar-radius: 0;
}
:root .Root__now-playing-bar .playback-bar .playback-progressbar > div > div > div > div {
  width: 105%;
  background-color: transparent;
  background-image: linear-gradient(90deg, #1ed760 93%, transparent 100%);
}
:root .Root__now-playing-bar .playback-bar .playback-progressbar .progress-bar__slider {
  display: none;
}
:root .Root__now-playing-bar .playback-bar > div:first-of-type {
  grid-area: time-left;
}
:root .Root__now-playing-bar .playback-bar > div:last-of-type {
  grid-area: time-right;
}
:root .Root__now-playing-bar .playback-bar button {
  width: 0;
}

.x-settings-container {
  max-width: unset;
}
.x-settings-container .x-toggle-indicatorWrapper {
  border-radius: var(--border-radius);
}

:root .Root__top-bar header button {
  border-radius: var(--border-radius);
}
:root .Root__top-bar header button[title="Popup Lyrics"] {
  background-image: url("https://i.imgur.com/91fuU3P.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
:root .Root__top-bar header button[title="Popup Lyrics"] svg {
  display: none;
}
:root .Root__top-bar header .main-topBar-historyButtons button, :root .Root__top-bar header .lyrics-tabBar-active {
  background-color: rgba(11, 11, 17, 0.32);
}
:root .Root__top-bar header .main-topBar-UpgradeButton {
  font-size: 0;
  overflow: hidden;
  background: url("https://i.imgur.com/nzAfcIL.png") 50%/contain no-repeat;
  border: none;
  padding: 5px;
  box-sizing: content-box;
}
:root .Root__top-bar header .main-userWidget-box {
  height: unset;
  padding: 0;
  gap: 12px;
}
:root .Root__top-bar header .main-userWidget-box .main-avatar-avatar {
  width: 40px !important;
  height: 40px !important;
  display: flex;
}
@media (min-width: 1024px) {
  :root .Root__top-bar header .main-userWidget-box .main-avatar-avatar .main-avatar-image {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
}
:root .Root__top-bar header .main-userWidget-box .main-avatar-avatar > div {
  width: unset !important;
  height: unset !important;
}
:root .Root__top-bar header .main-userWidget-box .main-userWidget-displayName {
  padding-right: 12px;
}
:root .Root__top-bar header .main-userWidget-box .main-userWidget-chevron {
  display: none;
}

.Root__main-view > div:first-of-type > div, .desktoproutes-homepage-takeover-ad-hptoComponent-parentContainer {
  display: none;
}

:root {
  --border-radius: 8px;
}
:root button, :root input, :root img {
  border-radius: var(--border-radius);
}
:root .main-trackList-rowHeartButton *:not([fill=none]), :root .control-button-heart *:not([fill=none]) {
  color: #d25050 !important;
  fill: #d25050 !important;
}
:root .main-trackList-rowSectionEnd .main-addButton-active, :root .main-trackList-rowSectionEnd .main-addButton-active:focus, :root .main-trackList-rowSectionEnd .main-addButton-active:hover {
  color: #d25050;
}
:root .lyrics-lyricsContainer-LyricsBackground {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
:root #context-menu {
  overflow: hidden;
}
:root #context-menu ul {
  padding: 0;
  background-color: var(--spice-player);
}
:root #context-menu ul button, :root #context-menu ul a {
  border-radius: 0;
}
:root #context-menu ul button::before, :root #context-menu ul button::after, :root #context-menu ul a::before, :root #context-menu ul a::after {
  content: none;
}
:root #context-menu ul button:not(.main-contextMenu-disabled):focus, :root #context-menu ul button:not(.main-contextMenu-disabled):hover, :root #context-menu ul button[aria-expanded=true], :root #context-menu ul a:not(.main-contextMenu-disabled):focus, :root #context-menu ul a:not(.main-contextMenu-disabled):hover, :root #context-menu ul a[aria-expanded=true] {
  background-color: #5c6eb12a;
  transition: 150ms background-color;
}
:root #bookmark-menu {
  background-color: var(--spice-player);
  border-radius: var(--border-radius);
}
:root #bookmark-menu .bookmark-filter {
  background-color: var(--spice-player);
}
:root #bookmark-menu button, :root #bookmark-menu a {
  border-radius: 0;
}
:root #bookmark-menu button::before, :root #bookmark-menu button::after, :root #bookmark-menu a::before, :root #bookmark-menu a::after {
  content: none;
}
:root #bookmark-menu button:not(.main-contextMenu-disabled):focus, :root #bookmark-menu button:not(.main-contextMenu-disabled):hover, :root #bookmark-menu button[aria-expanded=true], :root #bookmark-menu a:not(.main-contextMenu-disabled):focus, :root #bookmark-menu a:not(.main-contextMenu-disabled):hover, :root #bookmark-menu a[aria-expanded=true] {
  background-color: #5c6eb12a;
  transition: 150ms background-color;
}